<%= form_for(@normal) do |f| %>
  <% if @normal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@normal.errors.count, "error") %> prohibited this normal from being saved:</h2>

      <ul>
      <% @normal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :이수구분 %><br>
    <%= f.text_field :div %>
  </div>
  <div class="field">
    <%= f.label :과목명 %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :학년 %><br>
    <%= f.text_field :grades %>
  </div>
  <div class="field">
    <%= f.label :요일시간 %><br>
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :교강사 %><br>
    <%= f.text_field :prof %>
  </div>
  <div class="field">
    <%= f.label :강의실 %><br>
    <%= f.text_field :classroom %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
