<p id="notice"><%= notice %></p>

<h2>16년도 2학기 교양</h2>

<table>
  <thead>
    <tr>
      <th>이수 구분</th>
      <th>과목명</th>
      <th>학점</th>
      <th>교강사</th>
      <th>요일</th>
      <th>시간</th>
      <th>강의실</th>
      <th colspan="3">비고</th>
    </tr>
  </thead>

  <tbody>
    <% @normals.each do |normal| %>
      <tr>
        <td><%= normal.div %></td>
        <td><%= normal.title %></td>
        <td><%= normal.grades %></td>
        <td><%= normal.prof %></td>
        <td><%= normal.day %></td>
        <td><%= normal.time %></td>
        <td><%= normal.classroom %></td>
        <td><%= link_to '자세히 보기', normal %></td>
        <td><%= link_to '수정', edit_normal_path(normal) %></td>
        <td><%= link_to '삭제', normal, method: :delete, data: { confirm: '삭제할까요?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '추가하기', new_normal_path %>
