<%= form_tag "/home/find_prof", method: :get do %>
  <table>
    <caption style="text-align:center;">
      <h2><strong>전공과목 검색</strong></h2>
      항목수 : <%= @profs.size %>개 | <%= submit_tag "검색", :name => nil %>
      <%= link_to "재설정", find_normal_path %>
      </caption>
    <%= link_to '뒤로가기', home_index_path %>
    <thead>
      <th>
        <%= check_box_tag :div, 'on', params[:div], :onclick=> "checkdiv(this.form)" %>
        <%= text_field_tag :divtext, params[:divtext], placeholder: "이수구분", :disabled => (params[:div] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :subject, 'on', params[:subject], :onclick=> "checksubject(this.form)"%>
        <%= text_field_tag :subjecttext, params[:subjecttext], placeholder: "전공명", :disabled => (params[:subject] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :grade, 'on', params[:grade], :onclick=> "checkgrade(this.form)"%>
        <%= text_field_tag :gradetext, params[:gradetext], placeholder: "학년", :disabled => (params[:grade] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :title, 'on', params[:title], :onclick=> "checktitle(this.form)" %>
        <%= text_field_tag :titletext, params[:titletext], placeholder: "과목명", :disabled => (params[:title] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :grades, 'on', params[:grades], :onclick=> "checkgrades(this.form)" %>
        <%= text_field_tag :gradestext, params[:gradestext], placeholder: "학점", :disabled => (params[:grades] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :prof, 'on', params[:proffesion], :onclick=> "checkprof(this.form)"%>
        <%= text_field_tag :proftext, params[:proftext], placeholder: "교강사", :disabled => (params[:proffesion] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :time, 'on', params[:time], :onclick=> "checktime(this.form)"%>
        <%= text_field_tag :timetext, params[:timetext], placeholder: "요일/시간", :disabled => (params[:time] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :classroom, 'on', params[:classroom], :onclick=> "checkclass(this.form)" %>
        <%= text_field_tag :classroomtext, params[:classroomtext], placeholder: "강의실", :disabled => (params[:classroom] == 'on' ? false : true) %>
      </th>
    </thead>
      <!--이하 검색 결과-->
      <tbody>
        <% @profs.each do |f| %> 
        <tr>
          <td><%= f.div %></td>
          <td><%= f.subject %></td>
          <td><%= f.grade %></td>
          <td><%= f.title %></td>
          <td><%= f.grades %></td>
          <td><%= f.proffesion %></td>
          <td><%= f.time %></td>
          <td><%= f.classroom %></td>
        </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= link_to '뒤로가기', home_index_path %></td>
        </tr>
      </tbody>
  </table>
<% end %>