<form name = "form" action = '/home/find_normal' method='get'>
  <table>
    <caption style="text-align:center;"><h2><strong>교양과목 검색</strong></h2></caption>
    <%= link_to '뒤로가기', home_index_path %>
    <thead>
      <th><input type="checkbox" name="div" onclick="checkdiv(this.form)">
          <input type="text" name="divtext" placeholder="이수구분" disabled></th>
  
      <th><input type="checkbox" name="title" onclick="checktitle(this.form)">
          <input type="text" name="titletext" placeholder="과목명" disabled></th>
  
      <th><input type="checkbox" name="grades" onclick="checkgrades(this.form)">
          <input type="text" name="gradestext" placeholder="학점" disabled></th>
  
      <th><input type="checkbox" name="prof" onclick="checkprof(this.form)">
          <input type="text" name="proftext" placeholder="교강사" disabled></th>
  
      <th><input type="checkbox" name="time" onclick="checktime(this.form)">
          <input type="text" name="timetext" placeholder="요일/시간" disabled></th>
  
      <th><input type="checkbox" name="classroom" onclick="checkclass(this.form)">
          <input type="text" name="classroomtext" placeholder="강의실" disabled></th>
    </thead>
    <!--이하 검색 결과-->
    <tbody>
      <tr>
      <td>
        <% if @divs.any? %>
          <% @divs.each do | d | %>
            <%= d.div %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if @titles.any? %>
          <% @titles.each do | t | %>
            <%= t.title %>
          <% end %>
        <% end %>  
      </td>
      <td>
        <% if @Grades.any? %>
          <% @Grades.each do | g | %>
            <%= g.grades %>
          <% end %>
        <% end %>  
      </td>
      <td>
        <% if @profs.any? %>
          <% @profs.each do | pf | %>
            <%= pf.prof %>
          <% end %>
        <% end %>  
      </td>
      <td>
        <% if @times.any? %>
          <% @times.each do | t | %>
            <%= t.time %>
          <% end %>
        <% end %>  
      </td>
      <td>
        <% if @classrooms.any? %>
          <% @classrooms.each do | c | %>
            <%= c.classroom %>
          <% end %>
        <% end %>  
      </td>
      </tr>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to '뒤로가기', home_index_path %></td>
      </tr>
    </tbody>
  </table>
</form>


