<%= form_tag "/profs", method: :get do %>
<p id="notice"><%= notice %></p>
<h2 style="text-align:center;">전공과목 시간표</h2>
<table class="table table-bordered table-condensed table-striped">
  <caption style="text-align:center;">
    항목수 : <%= @profs.size %>개 | <%= submit_tag "검색", :name => nil %> <br>
    <%= link_to "재설정", profs_path %> | <%= link_to '뒤로가기', home_index_path %>
  </caption>
  <thead>
    <tr class="query_field">
      <th>
        <%= check_box_tag :div, 'on', params[:div] %>
        <%= text_field_tag :divtext, params[:divtext], placeholder: "이수구분", :disabled => (params[:div] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :subject, 'on', params[:subject] %>
        <%= text_field_tag :subjecttext, params[:subjecttext], placeholder: "전공명", :disabled => (params[:subject] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :grade, 'on', params[:grade]%>
        <%= text_field_tag :gradetext, params[:gradetext], placeholder: "학년", :disabled => (params[:grade] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :title, 'on', params[:title] %>
        <%= text_field_tag :titletext, params[:titletext], placeholder: "과목명", :disabled => (params[:title] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :grades, 'on', params[:grades] %>
        <%= text_field_tag :gradestext, params[:gradestext], placeholder: "학점", :disabled => (params[:grades] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :proffesion, 'on', params[:proffesion] %>
        <%= text_field_tag :proffesiontext, params[:proffesiontext], placeholder: "교강사", :disabled => (params[:proffesion] == 'on' ? false : true) %>
      </th>
     <th>
        <%= check_box_tag :day, 'on', params[:day] %>
        <%= text_field_tag :daytext, params[:daytext], placeholder: "요일", :disabled => (params[:day] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :time, 'on', params[:time] %>
        <%= text_field_tag :timetext, params[:timetext], placeholder: "시간", :disabled => (params[:time] == 'on' ? false : true) %>
      </th>
      <th>
        <%= check_box_tag :classroom, 'on', params[:classroom] %>
        <%= text_field_tag :classroomtext, params[:classroomtext], placeholder: "강의실", :disabled => (params[:classroom] == 'on' ? false : true) %>
      </th>
      <th colspan="3">데이터관리</th>
    </tr>
  </thead>

  <tbody>
    <% @profs.each do |prof| %>
      <tr>
        <td><%= prof.div %></td>
        <td style="text-align:center;"><%= prof.subject %></td>
        <td style="text-align:center;"><%= prof.grade %></td>
        <td><%= prof.title %></td>
        <td style="text-align:center;"><%= prof.grades %></td>
        <td style="text-align:center;"><%= prof.proffesion %></td>
        <td style="text-align:center;"><%= simple_format prof.day %></td>
        <td><%= simple_format prof.time %></td>
        <td><%= simple_format prof.classroom %></td>
        <td><%= link_to fa_icon('eye'), prof %></td>
        <td><%= link_to fa_icon('edit'), edit_prof_path(prof) %></td>
        <td><%= link_to fa_icon('trash'), prof, method: :delete, data: { confirm: '삭제할까요?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="12" style="text-align:center;">
        <h2><strong><%= link_to '과목 추가하기', new_prof_path %></strong></h2><br>
        <%= link_to '뒤로가기', home_index_path %>
      </td>
    </tr>
  </tbody>
</tableclass>
<% end %>